@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* UNIVERSAL */

:root {

  --primaryColor: #260d6d;
  --secondaryColor: #54e346;
  --primaryDarkColor: #0d0425;
  --terciaryColor: #FFFAA4;

  --primaryFont: 'Lato';
  --secondaryFont: 'Russo One';
  --fontPTSans: 'PT Sans';
  --orange: #fe4918;
  --darkGrey: #353535;
}

html {
  box-sizing: border-box;
  font-family: var(--primaryFont), 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* *{
  border: red 1px solid;
} */


/* GENERAL */
body {
  background-color: var(--primaryColor);
  margin: 0;
}

.seccion {
  padding: 2rem 0;
}

.seccion p {
  font-size: 1.2em;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
  margin: 0;
}

h2 {
  font-size: 2.4em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-family: var(--fontPTSans);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.button {
  background-color: var(--primaryDarkColor);
  padding: 0.5rem 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-right: 0;
}

.button:hover {
  background-color: #8a1e00;
}

.section-title {
  margin: 2rem;
  color: var(--secondaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.icon-container {
  flex-basis: 10%;
  max-height: 100%;
}

.section-title h2 {
  margin: 0 2rem;
}

/* UTILITIES */

section {
  margin: 4rem auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
  }
}

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

/* NAV */

.navbar {
  background-color: var(--primaryDarkColor);
  padding: 1em auto;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.navbar img {
  display: none;
}

.navbar a {
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0em;
  padding: 0.25em 0;
  transition: background-color 0.5s ease-in-out;
}

.navbar a:hover {
  background-color: var(--primaryColor);
}


@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    height: 10vh;
    position: fixed;
    z-index: 1;
  }

  .navbar a {
    font-size: 1.5em;
    padding: 1rem 0;
  }

  .navbar img {
    max-height: 100%;
    display: block;
  }



}


/* HEADER */
.main-header {
  position: relative;
  /* background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/morgana.jpg); */
  background: url(../img/morgana.jpg);
  background-position: left center;
  background-size: cover;
  height: 100vh;
}

.main-header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-header h1 {
  top: 2rem;
  position: relative;
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.main-header h2 {
  bottom: 1rem;
  display: block;
  font-family: var(--fontPTSans);
  max-width: 70%;
  margin: 5em 1em auto auto;
  position: relative;
  font-weight: 400;
  color: white;
  text-align: right;
  font-size: 2rem;
  /* change*/
}

.blue-text {
  color: var(--secondaryColor);
  font-weight: bolder;
}

@media (min-width: 768px) {
  .main-header {
    background-position: center center;
  }

  .main-header h1 {
    font-size: 5rem;
  }

  .main-header h2 {

    font-size: 3rem;
  }
}






/* ************************************************************************************************ */
/* CHARACTERISTICS */
/* ************************************************************************************************ */


.characteristics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characteristic {
  background-color: var(--terciaryColor);
  border-radius: 10%;
  flex: 0 0 calc(50% - 1rem);

}

.characteristic img {
  display: block;
  height: 10rem;
  margin: 2em auto;
}

.characteristic h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: var(--secondaryFont);
  color: var(--primaryColor)
}

.characteristic p {
  margin: 1rem 0;
  text-align: center;
  color: var(--primaryDarkColor);
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .characteristic {
    flex: 0 0 calc(25% - 1rem);

  }
}


/* ************************************************************************************************ */
/* PROMO */
/* ************************************************************************************************ */
.img-container {
  width: 70%;
  margin: 0 auto;
}

/* ************************************************************************************************ */
/* US */
/* ************************************************************************************************ */

.collaborators {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.collaborator {
  border: solid 2px var(--secondaryColor);
  border-radius: 10%;
  margin: 1rem 0;
  flex: 0 0 calc(50% - 1rem);
  position: relative;
  overflow: hidden;
}

.collaborator img {
  filter: gray;
  filter: grayscale();
  transition: all 0.5s ease-in-out;
}

.collaborator p {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0.5rem;
  margin: 0;
  color: white;

  font-size: 1rem;
  text-align: left;
  font-family: var(--primaryFont);
  transition: all 0.5s ease-in-out;
}

.collaborator p .position {
  color: cyan;
  font-weight: bold;
}

.collaborator:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}

.collaborator:hover p {
  bottom: -6rem;
  opacity: 0;

}

@media (min-width: 768px) {
  .collaborator {
    flex: 0 0 calc(33% - 1rem);
  }
}



/* NAVBAR */


.menu-movil {
  flex-basis: 20%;
  width: 60px;
  display: block;
  text-align: right;
}

.menu-movil:hover {
  cursor: pointer;
}

.menu-movil span {
  margin-right: 0;
  margin-left: auto;
  width: 4rem;
  height: 0.5rem;
  margin-bottom: 0.4rem;
  background-color: white;
  display: block;
}





a.reservaciones {
  color: var(--orange);
  border: 0.5em var(--orange) solid;
  border-spacing: 10rem;
}

a.reservaciones:hover {
  background-color: var(--orange);
  color: var(--darkGrey);
  border-color: var(--darkGrey);
}






.hero {
  position: relative;
  height: auto;








  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.hero::before {
  background-image: url('../img/morgana.jpg');
  content: '';
}

.contenido-header {
  padding-top: 2em;
}

.redes-sociales {
  text-align: center;
  font-size: 1.5rem;
}

.redes-sociales a {
  color: white;
  margin: 0 0.5em;
}

.informacion-evento {
  color: white;
  text-align: center;
  margin-top: 3rem;
}

.fecha-ciudad {
  display: flex;
  justify-content: space-evenly;
}

.informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 1.5rem;
}

.informacion-evento i {
  color: #fe4918;
  font-size: 2rem;
}

.nombre-sitio {
  font-family: var(--fontPTSans);
  text-transform: uppercase;
  font-size: 8vw;
  margin: 0 auto;
}

.slogan span {
  font-weight: bold;
}



/* TALLERES */
/* 133 */
.programa {
  position: relative;
}

/* 133 */
.contenedor-video {
  max-width: 100%;
  overflow-x: hidden;
}

/* 133 */
.contenido-programa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.programa-evento {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  margin-top: 6rem;
}

.menu-programa {
  width: 100%;
  border-bottom: 1px solid var(--orange);
  padding-bottom: 0.75rem;
}

.menu-programa a {
  text-align: center;
  color: black;
  display: block;
  font-family: var(--fontOswald);
  font-size: 1.25em;
}

.menu-programa i {
  color: var(--orange);

}

.info-curso .button {
  display: block;
  margin-left: auto;
  width: 40%;
}

.detalle-evento {
  margin: 0.5em 1em;
  border-bottom: 1px solid black;
  padding: 1.5em;
  font-size: 1.5em;
}

.detalle-evento:last-of-type {
  border: none;
}

.detalle-evento h3 {
  color: var(--orange);
}

.detalle-evento i {
  color: var(--orange);
}


@media (min-width: 768px) {
  .programa-evento {
    width: 60%;
  }

  .menu-programa {
    display: flex;
    justify-content: space-around;
  }
}


/* INVITADOS */
.invitados {
  margin-top: 3rem;
}

.lista-invitados {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.invitado {
  margin: 1rem 0;
  flex: 0 0 calc(50% - 1rem);
  position: relative;
}

.invitado img {
  filter: gray;
  filter: grayscale();
  transition: all 0.5s ease-in-out;
}

.invitado p {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 1rem 0.5rem;
  margin: 0;

  color: var(--orange);
  text-align: left;
  font-family: var(--fontOswald);
  transition: all 0.5s ease-in-out;
}

.invitado:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}

.invitado:hover p {
  bottom: -6rem;
  opacity: 0;

}

@media (min-width: 768px) {
  .invitado {
    flex: 0 0 calc(33% - 1rem);
  }
}


/* CONTADOR */


.contador {
  position: relative;
  height: auto;

}

.contador::before {
  background-image: url('../img/bg-resumen.jpg');
  content: '';
}

.resumen-evento {
  position: relative;
  padding: 10rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.resumen-evento li {
  flex: 0 0 calc(50% - 1rem);
  color: white;
  font-family: var(--fontOswald);
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}

.resumen-evento .numero {
  color: var(--orange);
  font-size: 4em;
  margin: 0;
  font-weight: 300;

}

@media (min-width: 768px) {
  .resumen-evento li {
    flex: 0 0 calc(25% - 1rem);
  }
}


/* *{
  border: 1px red solid;
} */
























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
